<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Journal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="navbar-container">
    <div class="navbar-header">
      <p class="navbar-brand">DAILY JOURNAL</p>
    </div>
    <ul class="nav nav-navbar ">
      <li class="nav-link">
        <a href="/" class="links">Home
        </a>
        <div class="underline"></div>
      </li>
      <li class="nav-link">
        <a href="/about" class="links">About Us</a>
        <div class="underline"></div>
      </li>

      <li class="nav-link">
        <a href="/contact" class="links">Contact</a>
        <div class="underline"></div>
      </li>
    </ul>
  </div>

  <div class="container">