<!-- incorporating header and footer -->
<%- include('partials/header'); -%>

    <h1>CONTACT</h1>
    <p>
    <section class="contact">
        <p>Want to get in touch? Feel free to reach out via email or on social media:</p>
        <ul>
            <li><a href="mailto:yupadhyayyk@gmail.com"><i class="fa fa-envelope"></i> Email</a></li>
            <li><a href="https://www.linkedin.com/in/yatendra-upadhyay-33b84a202/"><i
                        class="fa-brands fa-linkedin-in"></i>
                    LinkedIn</a></li>
            <li><a href="https://twitter.com/YATENDRAPANDIT6"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
            <li><a href="https://www.instagram.com/upadhyay__yatendra/"><i class="fa-brands fa-instagram"></i>
                    Instagram</a>
            </li>
        </ul>
    </section>

    </p>

    <%- include('partials/footer'); -%>